<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Interface_Car_</title>
    <script src="/scripts/FetchCar.js"></script>
    <script src="/scripts/ShowCarList.js" defer></script>
</head>
<body>
    <h1> Cars </h1>

    <table id="cars">

    </table>

    <form method="post" id="newCarForm">
        <label> Owner <input type="text" name="owner"> </label><br>
        <label> mark of the car <input type="text" name="mark"> </label> <br>
        <label> number <input type="text" name="number"> </label> <br>
        <label> Colour <input type="text" name="colour"> </label> <br>
        <button id="addCar" type="submit"> Add </button>
    </form>
</body>
</html>