<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/for_author_info.css">
    <title>Author</title>
</head>

<body>
    <h1> Про автора проекту </h1>
    <br>
    <main>
        <section class="flex_row_1">
            <div class="flex_item_1">
                <div class="content">Прикладна математика 2 курс</div>
            </div>
            <div class="flex_item_2">
                <div class="content">УжНУ</div>
            </div>
        </section>
        <section class="flex_row_2">
            <div class="flex_item_3">
                <div class="content">
                    <div class="content"><img
                            src="https://www.uzhnu.edu.ua/uploads/news/20140402_1044_emblema_uzhnu.jpg" width="200"
                            height="200"></div>
                </div>
            </div>
            <div class="flex_item_4">
                <p>
                    Міні проект з метою вивчення API, node.js та роботою з базами даних. З використанням ejs, express,
                    sequelize, sqlite3.
                </p>
            </div>
        </section>
        <section class="flex_row_3">
            <div class="flex_item_5">
                <div class="content" style="text-align:right">Гаджеги Василя Андрійовича</div>
            </div>
        </section>
    </main>
</body>

</html>